<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="&quot;C:\Program Files\Python38\python.exe&quot;|&quot;C:\Program Files\Python38\Scripts\wfastcgi.py&quot;"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="FastAPI Rule" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <appSettings>
    <!-- Set the path to your Python application -->
    <add key="WSGI_HANDLER" value="main:app" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\dev\fastapi" />
  </appSettings>
</configuration>