<!DOCTYPE html>
<html>
<head>
    <title>Device Check Form</title>
    <script src="/static/js/d3.v7.min.js"></script>
</head>
    <body><div class='container'>
    <form method='post' enctype='multipart/form-data' action='/run-getweboutput' target='_blank'>
        <h3 style='margin:0'> KDC/eNG Core Switch log check:</h3>

        <div class="flex-container" style="display:flex;justify-content: space-around;">
            <div style="width:50%;">
                Device IP address (Multi-Select): <br>
                <select name="core_ipaddress" multiple style="width:350px;height:200px;" >
                    {% for device in core_devices %}
                    <option value="{{ device.os }}:{{ device.ip }}">{{ device.name }} {{ device.ip }}</option>
                    {% endfor %}
                </select>
            </div>   
        
            <div style="width: 30%;text-align: end;">
                SA-User name:         <input type="text" name="core_uname" placeholder="soc2019_sa"><br>
                User password:        <input type="password" name="core_passwd"><br>
                <!-- Alias to uname/passwd if backend strictly requires them -->
                <input type="hidden" name="check_type" value="core">
                <input type="hidden" name="uname" value="" />  <!-- Or dynamically set via JS -->
                <input type="hidden" name="passwd" value="" />  <!-- Or dynamically set via JS -->
                
                <input type="submit" value="Submit" >
            </div>
        </div>
    </form>     
</body>
</html>